<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.doco.mappers.CampaignMapper">
	  <select id="getTime" resultType="string">
	  	select now();
	  </select>
	  
	  <insert id="create">
	  	insert into dtb_campaign (cno, title, content, clat, clng, cvideo, cpicture, start_date, end_date, reg_date) values
	  	(#{cno}, #{title}, #{content}, #{clat}, #{clng}, #{cvideo}, #{cpicture}, #{start_date}, #{end_date}, #{reg_date})
	  </insert>
  </mapper>